{% extends 'base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock title %}
{% block header_title %}
Dashboard
{% endblock header_title %}
{% block breadcrumb %}
dashboard
{% endblock breadcrumb %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1>Welcome To Staff Admin</h1>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock content %}