appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
autobahn==20.4.1
Automat==20.2.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.9
daphne==2.4.1
distlib==0.3.0
Django==3.0.2
django-crispy-forms==1.8.1
django-xhtml2pdf==0.0.4
djangorestframework==3.11.0
dnspython==1.16.0
ez-setup==0.9
filelock==3.0.12
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
mysql-connector-python==8.0.19
mysqlclient==1.4.6
Pillow==7.0.0
protobuf==3.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
PyPDF2==1.26.0
pytz==2019.3
reportlab==3.5.42
requests==2.22.0
service-identity==18.1.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
Twisted==22.4.0
txaio==20.4.1
urllib3==1.25.8
virtualenv==20.0.7
webencodings==0.5.1
xhtml2pdf==0.2.4
zope.interface==5.0.2
