{% extends 'base.html' %}
{% load static %}
{% block title %}
Edit Course
{% endblock title %}
{% block header_title %}
Manage Courses
{% endblock header_title %}
{% block breadcrumb %}
Edit
{% endblock breadcrumb %}
{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-2">
                {% if messages %}
                {% for mes in messages %}
                    {% if mes.tags == 'error' %}
                        <div class="alert alert-danger">{{ mes }}</div>
                    {% endif %}
                    {% if mes.tags == 'success' %}
                        <div class="alert alert-success">{{ mes }}</div>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Course</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" action="/edit_course_save" method="post">
                        {% csrf_token %}
                        <input type="hidden" class="form-control" name="course_id" value="{{ course.id }}">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Course Name</label>
                                <input type="text" class="form-control" name="course_name" placeholder="Course Name" value="{{ course.course_name }}">
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock content %}