{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          {% if request.user.user_type == "1" %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Manage Staffs
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'list_staff' as list_staff %}
                {% url 'edit_staff' staff_id=id as edit_staff %}
                <a href="{{ list_staff }}" class="nav-link {% if request.path == list_staff or request.path == edit_staff %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Staffs</p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'add_staff' as add_staff %}
                <a href="{{ add_staff }}" class="nav-link  {% if request.path == add_staff %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Staff</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Manage Students
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'list_student' as list_student %}
                {% url 'edit_student' student_id=id as edit_student %}
                <a href="{{ list_student }}" class="nav-link  {% if request.path == list_student or request.path == edit_student %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Students</p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'add_student' as add_student %}
                <a href="{{ add_student }}" class="nav-link  {% if request.path == add_student %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Student</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Manage Courses
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'list_course' as list_course %}
                {% url 'edit_course' course_id=id as edit_course %}
                <a href="{{ list_course }}" class="nav-link  {% if request.path == list_course or request.path == edit_course %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Courses</p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'add_course' as add_course %}
                <a href="{{ add_course }}" class="nav-link  {% if request.path == add_course %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Course</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Manage Subjects
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                {% url 'list_subject' as list_subject %}
                {% url 'edit_subject' subject_id=id as edit_subject %}
                <a href="{{ list_subject }}" class="nav-link  {% if request.path == list_subject or request.path == edit_subject %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Subjects</p>
                </a>
              </li>
              <li class="nav-item">
                {% url 'add_subject' as add_subject %}
                <a href="{{ add_subject }}" class="nav-link  {% if request.path == add_subject %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Add Subject</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview">
            <a href="/attendance" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                View Attendance
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/student_feedback" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Student Feedback
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/staff_feedback" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Staff Feedback
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/student_leave" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Student Leave
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview">
            <a href="/staff_leave" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Staff Leave
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>